* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  @media (prefers-color-scheme: dark) {
    color: $default-color-dark;
    background-color: $body-bg-dark;
  }

  margin: 0;
  padding: 0;
}

html {
  font-family: $serif-primary;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  @media (prefers-color-scheme: dark) {
    color: $default-tint;
  }
  font-family: $sans-serif;
  line-height: normal;
}

a {
  color: $blue;
  text-decoration: none;
}

blockquote {
  border-left: 0.25rem solid $grey-2;
  color: $grey-1;
  margin: 0.5rem 1.25rem 0.5;
  padding: 0.1rem 1.5rem 0.1rem 1.5rem;

  p:last-child {
    margin-bottom: 0;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

//////////////////////////////////////////////////////////////
/// resume
// Base styles
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: $white;
}

body {
  @include serif;
  color: $text_color;
  font-size: 16px;
  line-height: 1.5;
}

.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
.wrapper {
  max-width: 728px;
  padding: 0 24px;
  margin: 0 auto;
  zoom: 1;
}

// clearfix (now called group,
// via http://css-tricks.com/snippets/css/clear-fix/)
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

::-moz-selection {
  background: rgba(51, 51, 51, 0.8);
  color: #fff;
  text-shadow: none;
}
::selection {
  background: rgba(51, 51, 51, 0.8);
  color: #fff;
  text-shadow: none;
}
